
<div class="center hero-unit hero-home">
</div>
<div class='non-hero home'>
		<%= image_tag("picofme.png", alt: "meandfrog", size: "400x400", class: "img-circle center-block") %>
		<h1>Welcome to my First Ruby Web Application!</h1>
		<h2>It is still a work in progress...</h2>
</div>